
 


body {  }

h1 { position:absolute; background:white; padding:5px;}
    
/*   Important for leaflet map  */  
.leaflet-container {                                            
      background: rgba(0,0,0,.8) !important;
    } 

    
/* Css for checkboxes */  
.multiselect {
  width: 200px;
}

.selectBox {
  position: absolute;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  font-weight:100;
}

#checkboxes label {



  display: block;
}

/*Css for 'averge score' button*/
.scoredisplay {
    background-color: #1166c1eb;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}


/*Css for warning box*/

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    width: 330px;
    position:absolute;
    top: 500px;;
    left: 7px;
}