html {
    font-size: 14px; 
    font-family: sans-serif;
}

h1 {
    font-family: 'Arima Madurai';
    font-size: 35px;
    position: absolute;
    left: 10px;
    top: -12px;
    color: #f44336;
}


/*** MAP AND SEARCHBOX ***/
#map {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: 90px;
    height: 420px;
    width: 700px;
    left: 10px;
}

#mapsearch {
    position: absolute;
    top: 62px;
    left: 10px;
    width: 345px;
    height:20px;
    border-style: groove;
}


/*** MAP INSTRUCTIONS ***/
.mapInfo {
    border-left: 1px solid #f44336;
    border-top: 4px solid #f44336;
    position: absolute;
    top: 520px;
    left: 10px;
    width: 320px;
    padding-left: 4px;
    font-size: 12px;
    padding-right: 7px;
}

.instructions {
    font-size: 14px;
}


/*** HEATMAP CHECKBOXES ***/
#heatmapselector {
    position: absolute;
    top: 520px;
    left: 382px;
    height: 10px;
}

.multiselect {
    width: 190px;
}
  
.selectBox {
    position: absolute;
}
  
.selectBox select {
    width: 100%;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes {
    display: none;
    border: 1px #dadada solid;
    font-weight:100;
}
  
#checkboxes label {
    display: block;
}


/*** CHOOSING CITY ***/
#cityselection {
    position: absolute;
    top: 520px;
    left: 570px;
}


/*** AVERAGE SCORE ***/
#avgbutton {
    position: absolute;
    top: 90px;
    left: 740px;
    font-family: 'Arima Madurai';
    background-color: #f44336;
    border: none;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#avgdisplay {
    position:absolute; 
    top: 90px; 
    left: 910px; 
    width: 65px; 
    height: 30px; 
    font-size: 14px; 
    text-align: center;
}


/*** SHOWING ALL SCORES ***/ 
#showscores {
    position: absolute;
    top: 185px;
    left: 740px;
    font-family: 'Arima Madurai';
    padding: 5px 20px;
    background-color: #75cff0;
    border: none;
    font-size: 14px;
}

#allscores {
    visibility: hidden;
    display: table;
    position: absolute;
    top: 226px;
    left: 738px;
    font-family: 'Arima Madurai';
    /* border-left: 1px solid #f44336; */
}

#allscores p {
    display: table-row;
}

#allscores label {
    padding: 3px;
    display: table-cell;
    padding-right: 8px;
}

#allscores input {
    display: table-cell;
    width: 65px;
}
