html {
    font-size: 14px; 
    font-family: sans-serif;
}

h1 {
    font-family: 'Arima Madurai';
    font-size: 35px;
    position: absolute;
    top: -5px;
    color: #f44336;
}

#map {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: 70px;
    height: 420px;
    width: 700px;
    left: 10px;
}

.mapInfo {
    border-left: 1px solid #f44336;
    border-top: 4px solid #f44336;
    position: absolute;
    top: 500px;
    left: 10px;
    width: 320px;
    padding-left: 4px;
    font-size: 12px;
}

.instructions {
    font-size: 14px;
}

#heatmapselection {
    position: absolute;
    top: 500px;
    left: 375px;
}
#checkboxes {
    display: none;
    background-color: white;
    border: 1px #dadada solid;
    font-weight:100;
}

#cityselection {
    position: absolute;
    top: 500px;
    left: 562px;
}

